<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for contacting Re:Function Health Group.</p>
    <p>We appreciate your interest in working with us</p>
    <p>Your application will be reviewed and our HR will reach out to you.</p>
    <p>Thank you.</p>
  </body>
</html>
