<div class="admin-nav">
  <a class="navbar-brand" href="#"><%= image_tag("refunction_nav_logo.svg", class:"admin-logo") %>
  </a>
</div>

<div class="admin-side-nav">
  <ul>
    <li><span></span>Teams<span></span></li>
    <li>Testimonials</li>
    <li>Careers</li>
    <li>Customer Enquiry</li>
    <li>Referrals</li>
    <li>Admin Users</li>
  </ul>
</div>
