<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          Careers
        </div>
        <div class="banner-top-deco-sub col-sm-12">
          What we do best and how we can help you
        </div>
      </div>
    </div>
  </div>
</div>


<div class="why_work_with_us pages-card-padding">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="row justify-content-between">
          <div class="list_of_services_box">
            <h5>Learn about our services</h5>
            <div class="highlight"></div>
            <ul>
              <li><span class="current-listing-header">Kinesiologist Position</span>
                <span class="current-listing-header-sub">Lower Mainland & Nanaimo</span>
              </li>
              <li><span class="current-listing-header">Occupational Therapist</span>
                <span class="current-listing-header-sub">Lower Mainland</span>
              </li>
              <li><span class="current-listing-header">Occupational Therapist</span>
                <span class="current-listing-header-sub">Nanaimo</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="offset-sm-1 col-sm-8">

        <div class="row">
          <p class="show-header">Kinesiologist – Lower Mainland - Full time or Part time contractor</p>
          <p class="show-font">
            Re:Function Health Group, Inc. is an established consulting firm with 5 clinic locations in the Lower Mainland and 2 clinic locations on Vancouver Island.   We provide functional capacity evaluations, cognitive capacity evaluations, vocational consulting (return to work planning, ergonomics, and job demands analyses), community health services, and treatment programs to employers, WSBC, ICBC, LTD carriers, the provincial Work BC network, lawyers, health authorities, municipalities, and the public.  Our company continues to grow to meet the demand for our services as we are fortunate to have long term contracts and relationships with key fee payers in the province.

            We have an opportunity for a Kinesiologist to join our Lower Mainland group in either a full time or part time contractor capacity.
            <br>
            <br>
            <br>
            We prefer candidates to have the following skills and experience:
            <br>
            • A degree in Kinesiology or Human Kinetics
            <br>
            • Member in good standing with BCAK inclusive of Professional Liability Insurance
            <br>
            • Valid CPR & First Aid Certificates
            <br>
            • Valid Driver’s Licence
            <br>
            • At least one year of experience providing return to work services, exercise prescription, rehab assistant services, or community rehabilitation services
            <br>
            • Certifications ( FMS)
            <br>
            <br>
            <br>
            Your responsibilities will be as follows:
            <br>
            • Collaborate within an interdisciplinary team context
            <br>
            • Set functional goals with clients with collegial input;
            <br>
            • Provide one on one education during treatment sessions in clinic and in the community;
            <br>
            • Perform biomechanical, fitness, and functional assessments;
            <br>
            • Conduct job site visits and develop return to work plans
            <br>
            • Perform functional testing/evaluation and job demands analyses
            <br>
            <br>
            <br>

            Our clinicians enjoy flexible work schedules, tax advantages of contractor status, and healthy remuneration.  We have an established mentoring program and provide research assistance through our dedicated library sciences staff member as any case requires.  Our practice group is successful given our evidenced based methods, collegial process, enjoyable social milieu, and our focus on function.  Our staff retention is high, with many experienced clinicians available to help you develop professional skills, expertise, and innovative practice.
            If you feel you have the penchant to assess and assist clients with their work or community related functions then we can assist you to develop the skills and methodology to become a recognized expert in the functional analysis field.  We look forward to the opportunity to meet with you and discuss our opportunity further.

            We invite you to visit our website at www.refunction.ca.  If you are interested in exploring this opportunity please contact Ralph Cheesman, CEO and Managing Partner, at 604-233-2212 or email your CV and introductory letter to rcheesman@refunction.ca.

          </p>
        </div>


        <div class="row careers-featured-opening-empty">

        </div>

        <div class="row">
            <p style="padding-top: 10px; font-weight: 700;">Send your information and CV</p>
        </div>
        <div class="row">
          <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
            <input type="text" class="form-control input-box" placeholder="First name">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-right-0" >
            <input type="text" class="form-control input-box" placeholder="Last name">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-left-0" >
            <input type="text" class="form-control input-box" placeholder="Email">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-right-0" >
            <input type="text" class="form-control input-box" placeholder="Phone">
          </div>
          <div class="form-group col-sm-12 career-pd-left-0 career-pd-right-0" >
            <textarea class="form-control" style="height: 339px; width: 100%;" id="exampleFormControlTextarea1" placeholder="Leave us a message"></textarea>
          </div>
        </div>

          <div class="row">
            <div class="col-3" style="padding-left: 0px;">
              <button class="cta-see-team">Upload CV</button>
            </div>
            <div class="col-3">
              <button class="cta-see-team" style="width: 181px;">Submit</button>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
