<% if referral.referral_form_type == 'medlegal' %>
  <% if referral.client_file_number.present? %>
    <p>Claim #: <%= referral.client_file_number %></p>
  <% end %>
  <% if referral.client_sub_file_number.present? %>
    <p>File #: <%= referral.client_sub_file_number %></p>
  <% end %>
<% else %>
  <% if referral.client_file_number.present? %>
    <p>Policy #: <%= referral.client_file_number %></p>
  <% end %>
  <% if referral.client_sub_file_number.present? %>
    <p>Client #: <%= referral.client_sub_file_number %></p>
  <% end %>
<% end %>