<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for contacting Re:Function Health Group.</p>
    <p>We appreciate your interest in working with us</p>
    <p>You application will be reviewed and we will reach out to you shortly.</p>
    <p>If this is an urgent matter please give us a call at 604.233.2210</p>
    <p>Thank you.</p>
  </body>
</html>
