<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Referral from refunction.ca</h1>

    <p>Please click the below link to see the details.</p>
    <p><a href="https://refunction.ca/info_referral/<%= @referral.id %>">View/Print</a></p>
  </body>
</html>
