<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Referral from refunction.ca</h1>
    <p>Referral confirmation code: <%= @referral.public_uid %> </p>

    <p>Please click the below link to see the details.</p>
    <%= link_to "View/Print", :controller => "info_referrals", :action => "show",
:only_path => false, :id => @referral.public_uid, :host => " https://www.refunction.ca" %>

  </body>
</html>
