<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for your referral to Re:Function Health Group.</p>
    <p>We appreciate your business.</p>
    <p>Your referral will be reviewed as quickly as possible.</p>

    <p>Your Referral confirmation code is: <%= @referral.public_uid %> </p>
    <p>If you have any questions please call Terry Hillhouse at 604 233 2210.</p>

    <%= link_to "View/Print", :controller => "info_referrals", :action => "show",
:only_path => false, :id => @referral.id, :host => " https://www.refunction.ca" %>

  </body>
</html>
