<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Referral from refunction.ca</h1>

    <p>Please sign into the admin panel to see the details.</p>
  </body>
</html>
