<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          FAQs
        </div>
        <div class="banner-top-deco-sub col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert" style="background-color: #00A9E8;color: white;border-color: #00A9E8;">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        If you cannot find the information you are looking for, please <strong>contact us at <a href="tel:+604-233-2210" style="color: white">604.233.2210</a></strong>
    </div>

    <br />

    <div class="panel-group" id="accordion" style="padding-bottom: 40px;">
        <div class="faqHeader">Referring Company FAQs</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">I have referred a client for an evaluation. Where do I send the medical records to?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in faq-indent">
                <div class="panel-body margin-bottom ">
                  Mail, courier packages and all hard copy correspondence is to be directed to Richmond Head Office:
                  <br>
                  <strong>#148 – 21300 Gordon Way, Richmond, BC, V6W 1M2.</strong>
                  <br>
                  To support our paperless initiative, we ask that medical/clinical records be transferred to us by a secure document transfer service via <a href="mailto:admin@refunction.ca.">admin@refunction.ca.</a> We can also receive documents through our own secure document portal. Please email <a href="mailto:info@refunction.ca ">info@refunction.ca </a>for more information.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">May I have a copy of the evaluator’s Curriculm Vitae?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom ">
                    Most of our Medical Legal Evaluators have their CV’s available within their profile. Please refer to the Evaluator’s profile on our team page.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">When is your next available appointment?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom ">
                  Quite often we are booking weeks to months in advance. Please call <a href="tel:+604-233-2210">604.233.2210</a> for the most up to date availability for our Medical Legal Services, Community Rehabilitation Services, and other rehabilitation services. Please refer to <a href="https://refunction.janeapp.com/" target="_blank">https://refunction.janeapp.com</a> for your Physiotherapy and/or Clinical Counselling needs.
                </div>
            </div>
        </div>

        <div class="faqHeader faq-margin-top">Client FAQs</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">I have been referred to a Functional Capacity Evaluation (FCE). How long is my assessment and what is involved?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom ">
                  Our clinicians are Matheson trained evaluators, and use a combination of standardized tests and work simulation activities to determine your current physical and cognitive abilities and limitations. We believe that the individuals we assess have specific functional demands that are unique and complex. We have lengthy evaluations to understand your level of functioning and the durability of such over a full work day. Our FCE’s are typically one or two days in length, ranging from six to eight hours on the first day, and three to eight hours on the second day. Considering that these evaluations are extensive, we recommend bringing a lunch. All of our seven clinics are located close to restaurants for your convenience.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Can family members come with me to my evaluation?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom ">
                  Our evaluations and assessments are typically on a 1:1 basis, and done in a confidential environment. We do not allow family members or other client representatives attend the evaluation with you.
                </div>
            </div>
        </div>



        <div class="faqHeader faq-margin-top">Physiotherapy FAQ</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What can I expect during my first Physiotherapy assessment?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom ">
                  Initial assessments are 45 minutes in length, during which time a Physiotherapist will take a thorough history and perform an objective exam of the affected area. A treatment plan will then be formulated and implemented with your goals in mind.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How should I prepare for my initial visit?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom ">
                  Please arrive 10 minutes before your assessment wearing comfortable, loose-fitting clothing. Please bring your <strong>Personal Health Number</strong> and the following additional information, if needed, for your initial visit:
                  <br>
                  <strong style="padding-left: 30px;">Extended Health Clients:</strong> Please bring your insurance card.
                  <br>
                  <strong style="padding-left: 30px;">ICBC Clients:</strong> Please bring your claim number.
                  <br>
                  <strong style="padding-left: 30px;">WSBC Clients:</strong> Please bring your claim number and date of injury.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Do I need a Doctor’s referral to see a Physiotherapist?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom ">
                  No. Physiotherapists are primary health care practitioners who are trained to diagnosis and treat your impairment. We welcome walk-in patients at both our Richmond and Surrey locations.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Do you direct bill to third-party insurance providers?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom">
                Yes, we are able to direct bill to all major third-party providers. Please bring your insurance card with you for your initial assessment.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What is your cancellation policy?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse faq-indent">
                <div class="panel-body margin-bottom">
                    We require a minimum of 24 hours notice for any cancellations or changes to appointments. Patients who provide less than 24 hours notice for a missed appointment will be charged a cancellation fee equal to 50% of the missed appointment fee.
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>


<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px 0px;
    }
    .panel-title {
      margin-bottom: 15px;
    }
    .margin-bottom {
      margin-bottom: 25px;
    }

</style>
