<!-- Nav Bar Start -->

<div class="nav">
  <div class="nav-top"></div>
  <div class="container nav-bg">
    <div class="row justify-content-center">
      <div class="col-md-2 logo-bg">
        <%= image_tag("home_logov3.svg",width: "150") %>
      </div>

      <div class="col-md-7">
        <ul>
          <li>Home</li>
          <li>Services</li>
          <li>About</li>
          <li>Our Team</li>
          <li>Testimonials</li>
          <li>Careers</li>
          <li>Contact</li>
        </ul>
      </div>

      <div class="col-md-3">
        <div class="nav-cta-physio">

        </div>
        <div class="nav-cta-referral">

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Nav Bar End -->

<!-- Home Main Panel -->

<div class="home_main_card">
      <div class="home_cta_card main-margin">
        <div>
          <h2>Exceptional People</h2>
          <h2>Exceptional Care</h2>
          <p>Function is our Focus</p>
        </div>
        <div>
          <!-- <p>Looking for treatment?</p> -->
          <div class="nav-cta-physio">

          </div>
          <!-- <p>Referring someone?</p> -->
          <div class="nav-cta-referral">

          </div>
        </div>
      </div>
</div>

<!-- Home Main Panel End-->
