<button id="printPageButton", class="referral_print_button", onClick="window.print();">Print</button>

<% if @referral.referral_form_type == "employer" %>
  <%= render "employee" %>
<%  else  %>
  <%= render "medlegal" %>
<% end %>