<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          Contact Us
        </div>
        <div class="banner-top-deco-sub col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container main-card-padding-sm">
  <div class="row">

    <div class="col-md-12 col-xl-3">
      <div class="row justify-content-between">
        <div class="list_of_services_box padding-right-100">
          <h5>Locations</h5>
          <div class="highlight"></div>
          <ul>
            <li><a href="/contacts">Richmond: Head Office</a></li>
            <li><a href="/surrey">Surrey Clinic</a></li>
            <li><a href="/vancouver">Vancouver Clinic</a></li>
            <li><a href="/coquitlam">Coquitlam Clinic</a></li>
            <li><a href="/abbotsford">Abbotsford Clinic</a></li>
            <li><a href="/victoria">Victoria Clinic</a></li>
            <li><a href="/nanaimo">Nanaimo Clinic</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-12 offset-xl-1 col-xl-8">
      <div class="row">
        <p class="page-headers">Surrey Office</p>
        <div>
          <div class="mapouter"><div class="gmap_canvas"><iframe width="640" height="229" id="gmap_canvas" src="https://maps.google.com/maps?q=Suite%20505%20-%2013737%2096th%20Avenue&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">mojo wordpress themes adsense</a></div><style>.mapouter{text-align:right;height:229px;width:640px;}.gmap_canvas {overflow:hidden;background:none!important;height:229px;width:640px;}</style></div>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-6">
            <div>
              <p class="section-desc">Book an appointment by form</p>
            </div>
            <%= render 'form' %>
          </div>
          <div class="col-sm-6">
            <div>
              <p class="section-desc">Where you can find us</p>
            </div>
            <div style="padding-bottom: 20px;">
              <a href="">Surrey Office</a>
            </div>
            <div style="font-weight: bold">
            Mail, courier packages and all hard copy correspondence is to be directed to Richmond Head Office.
            </div>

            <div class="mg-top-20">
              #505 - 13737 96th Avenue(City Centre 1)
            </div>
            <div>
              Surrey, BC V3V 0C6
            </div>
            <div>
              <a href="tel:+1604-233-2210">Tel: 604.233.2210</a>
            </div>
            <div>
              <a href="tel:+1604-233-2211">Fax: 604.233.2211</a></
            </div>
            <div>
              <a href="mailto:info@refunction.ca">Email: info@refunction.ca</a>
            </div>
            <div class="mg-top-20">
              <strong>Office Hours</strong>
            </div>
            <div>
              Monday to Friday
            </div>
            <div>
              7:30 AM to 7:30 PM
            </div>
            <div class="mg-top-20">
            </div>
            <div>
              <div class="blue-dot"></div>Free parking located on level P4 in stalls 513, 514, 527, 528
            </div>
            <div>
              <div class="blue-dot"></div>Entrance to parkade is located on 96th Ave
            </div>
            <div>
              <div class="blue-dot"></div>Wheelchair accessible
            </div>
            <div>
              <div class="blue-dot"></div>Accessible by public transportation
            </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
