<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          Contact Us
        </div>
        <div class="banner-top-deco-sub col-sm-12">
          What we do best and how we can help you
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container main-card-padding-sm">
  <div class="row">

    <div class="col-sm-3">
      <div class="row justify-content-between">
        <div class="list_of_services_box padding-right-100">
          <h5>Locations</h5>
          <div class="highlight"></div>
          <ul>
            <li><a href="/contacts">Richmond: Head Office</a></li>
            <li><a href="/surrey">Surrey Clinic</a></li>
            <li><a href="/vancouver">Vancouver Clinic</a></li>
            <li><a href="/coquitlam">Coquitlam Clinic</a></li>
            <li><a href="/abbotsford">Abbotsford Clinic</a></li>
            <li><a href="/victoria">Victoria Clinic</a></li>
            <li><a href="/nanaimo">Nanaimo Clinic</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="offset-sm-1 col-sm-8">
      <div class="row">
        <p class="page-headers">Vancouver Office</p>
        <div>
          <div class="mapouter"><div class="gmap_canvas"><iframe width="640" height="229" id="gmap_canvas" src="https://maps.google.com/maps?q=333%20E%20Broadway%20%23201&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">mojo wordpress themes adsense</a></div><style>.mapouter{text-align:right;height:229px;width:640px;}.gmap_canvas {overflow:hidden;background:none!important;height:229px;width:640px;}</style></div>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-6">
            <div>
              <p class="section-desc">Book an appointment by form</p>
            </div>
            <div class="row">
              <div class="col-sm-6 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="First name">
              </div>
              <div class="col-sm-6 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Email">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Department">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Desired time and date">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Department">
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" style="height: 339px" id="exampleFormControlTextarea1" rows="3" placeholder="Leave us a message"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <p class="section-desc">Where you can find us</p>
            </div>
            <div>
              <a href="">Vancouver Office</a>
            </div>
            <div style="font-weight: bold">
              Mail, Courier Packages, and all hard copy correspondence is to be sent to Head Office
            </div>

            <div class="mg-top-20">
              Suite 201 – 333 East Broadway
            </div>
            <div>
              Vancouver, BC V5T 1W5
            </div>
            <div>
              Tel: 604-233-2210
            </div>
            <div>
              Fax: 604-233-2211
            </div>
            <div>
              Email: info@refunction.ca
            </div>
            <div class="mg-top-20">
              Entrance
            </div>
            <div>
              <div class="blue-dot"></div>Clinic is located on East Broadway and Kingsway; same side of street as Starbucks and across Kingsgate Mall; front door of building is accessed from East Broadway; can enter through underground parking lot located at back of building
            </div>
            <div>
              <div class="blue-dot"></div>Please bring your own lunch or there are restaurants nearby
            </div>
            <div class="mg-top-20">
              Wheelchair Accessible
            </div>
            <div>
              <div class="blue-dot"></div>Wheelchair accessible through underground or main entrance
            </div>
            <div class="mg-top-20">
              Parking
            </div>
            <div>
              <div class="blue-dot"></div>Parking in underground only in stalls labelled Back in Motion; if stalls are full, can use free 2 hour street parking on Scotia Street or Brunswick Street; note that we are not authorized for parking at Kingsgate Mall
            </div>
          </div>

        </div>

        <div class="row justify-content-between">
          <div class="col-3">
            <button class="cta-see-team" style="width: 181px;">Submit</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
