<div class="cotainer">
  <div class="row">
    <div class="col-sm-6 col-md-3 choose_your_plan_card">
      <a href="/medlegal">
        <div class="choose_your_plan_card_innner choose_your_box">
          <div style="background: #1BB2EB; padding: 15px;">
            <h5>Medical Legal Services</h5>
          </div>
          <div style="padding: 15px;">
            <ul class="choose_your_box_font">
              <li>Functional Capacity Evaluation</li>
              <li>Cost of Future Care Assessment</li>
              <li>FCE with Cost of Future Care</li>
              <li>Cognitive Functional Capacity Evaluation</li>
              <li>File Review/Consult</li>
            </ul>
          </div>
          
        </div>
        </a>
         <a href="/medlegal"><button class="btn-block">Get Started</button></a>
    </div>
    <div class="col-sm-6 col-md-3 choose_your_plan_card ">
      <a href="/employer">
        <div class="choose_your_plan_card_innner choose_your_box">
          <div style="background: #1BB2EB; padding: 15px;">
            <h5>Rehabilitation Services</h5>
          </div>
        
          <div style="padding: 15px;">
            <ul class="choose_your_box_font">
              <li>Cognitive Functional Capacity Evaluation</li>
              <li>Psychiatric Independent Medical Examination</li>
              <li>Ergonomic Assessment</li>
              <li>Job Demands Analyses</li>
              <li>Functional Capacity Evaluation</li>
              <li>Community Rehabilitation Services</li>
              <li>Interdisciplinary Rehabilitation Assessment</li>
              <li>Active & Functional Conditioning Programs</li>
              <li>Brain Injury Assessment & Treatment</li>
              <li>Return to Work Support Services</li>
              <li>Psychological Assessments</li>
              <li>Pre-Employment Screen</li>
            </ul>
        </div>
        </div>
      </a>
      <a href="/employer"><button class="btn-block">Get Started</button></a>
    </div>

    <div class="col-md-3 choose_your_plan_card ">
      <a href="https://refunction.janeapp.com/" target="_blank">
        <div class="choose_your_plan_card_innner choose_your_box">
          <div style="background: #1BB2EB; padding: 15px;">
            <h5>Physiotherapy and Kinesiology</h5>
          </div>
          <div style="padding: 15px;">
            <ul class="choose_your_box_font">
              <li>Manual Therapy</li>
              <li>Dry Needling</li>
              <li>Spinal Traction</li>
              <li>Shockwave Therapy</li>
            </ul>
          </div>
        
        </div>
        </a>
        <a href="https://refunction.janeapp.com/" target="_blank"><button class="btn-block">Get Started</button></a>
    </div>

    <div class="col-md-3 choose_your_plan_card">
      <a href="/employer" target="_blank">
        <div class="choose_your_plan_card_innner choose_your_box">
          <div style="background: #1BB2EB; padding: 15px;">
            <h5>Counseling</h5>
          </div>
          <div style="padding: 15px;">
            <ul class="choose_your_box_font">  
            <li>Cognitive Behavioural Therapy</li>
            <li>Mindfulness Techniques</li>
            <li>Soft Tissue Mobilization</li>
            <li>Gestalt Interventions</li>
            <li>Cognitive and Body Centred Practices</li>
            <li>Psychological Assessments</li>
            <li class="highlight-desc">No physician referral required</li>  
            <li class="highlight-desc">Please click here to access our direct booking site</li> 
            </ul>
          </div>
        </div>
        </a>
       <a href="/employer" target="_blank"><button class="btn-block">Get Started</button></a>
    </div>
  </div>
</div>