<div class="cotainer">
  <div class="row">
    <div class="col-md-3 choose_your_plan_card">
      <div class="choose_your_plan_card_innner choose_your_box ">
        <h5>Medical Legal Services</h5>
      
        <ul class="choose_your_box_font">
          <li>Functional Capacity Evaluation</li>
          <li>Cost of Future Care Assessment</li>
          <li>FCE with Cost of Future Care</li>
          <li>Cognitive Functional Capacity Evaluation</li>
          <li>Functional Capacity Evaluation</li>
          <li>Medical Legal File Review</li>
        </ul>
      </div>
         <a href="/medlegal"><button class="btn-block">Get Started</button></a>
    </div>
    <div class="col-md-3 choose_your_plan_card ">
      <div class="choose_your_plan_card_innner choose_your_box">
      <h5>Rehabilitation Services</h5>
        <ul class="choose_your_box_font">
          <li>Functional Capacity Evaluation</li>
          <li>Cognitive Functional Capacity Evaluation</li>
          <li>Psychiatric Independent Medical Examination</li>
          <li>Ergonomic Assessment</li>
          <li>Job Demands Analyses</li>
          <li>Community Rehabilitation Services</li>
          <li>Interdisciplinary Rehabilitation Assessment</li>
          <li>Active & Functional Conditioning Programs</li>
          <li>Brain Injury Assessment & Treatment</li>
          <li>Return to Work Support Services</li>
        </ul>
      </div>
      <a href="/employer"><button class="btn-block">Get Started</button></a>
    </div>

    <div class="col-md-3 choose_your_plan_card ">
      <div class="choose_your_plan_card_innner choose_your_box">
        <h5>Physiotherapy</h5>
        <ul class="choose_your_box_font">
         <li>Manual Therapy</li>
         <li>Dry Needling</li>
         <li>Soft Tissue Mobilization</li>
         <li>Spinal Traction</li>
         <li>Shockwave Therapy</li>
         <li>Access our direct booking site for these services</li> 
        </ul>
      </div>
        <a href="https://refunction.janeapp.com/" target="_blank"><button class="btn-block">Get Started</button></a>
    </div>

    <div class="col-md-3 choose_your_plan_card">
      <div class="choose_your_plan_card_innner choose_your_box">
        <h5>Counselling</h5>
        <ul class="choose_your_box_font">
         <li>Cognitive Behavioural Therapy</li>
         <li>Mindfulness Techniques</li>
         <li>Soft Tissue Mobilization</li>
         <li>Gestalt Interventions</li>
         <li> Cognitive and Body Centred Practices</li>
         <li>Access our direct booking site for these services</li> 
        </ul>
      </div>
       <a href="https://refunction.janeapp.com/" target="_blank"><button class="btn-block">Get Started</button></a>
    </div>
  </div>
</div>