<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          Referral
        </div>
        <div class="banner-top-deco-sub col-sm-12">
          What we do best and how we can help you
        </div>
      </div>
    </div>
  </div>
</div>



<div class="testimonials_container pages-card-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="page-desc">
        <h1>Re:Function Referral</h1>
      </div>
    </div>
    <div class="row justify-content-center margin-bottom-30">
      <div class="page-desc-sub">
        <p class="">How can we help?</p>
      </div>
    </div>
    <div class="row">


      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>I am inquiring about?</p>
        <select class="form-control input-box">
          <option value="volvo">Active & Functional Conditioning</option>
          <option value="saab">Community Rehabilitation Services</option>
          <option value="opel">Cost of Future Care Assessment</option>
          <option value="audi">Ergonomic Assessment</option>
          <option value="audi">Functional Capacity Evaluation</option>
          <option value="audi">FCE with cognitive component</option>
          <option value="audi">FCE with Cost of Future Care</option>
          <option value="audi">Home Assessment</option>
          <option value="audi">Interdisciplinary Rehabilitation Services</option>
          <option value="audi">Job Demands Analysis (JDA)</option>
          <option value="audi">Medical Legal File Review</option>
          <option value="audi">Mobility Equipment Assessment</option>
          <option value="audi">Other</option>
          <option value="audi">Return to Work Support Services</option>
          <option value="audi">Work Simulation</option>
        </select>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client Name</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Referral Person</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Date of Birth</p>
        <input type="date" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Company/Organization</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client Phone #</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Claim/File#</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client Address</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Referral Address</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client City</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Referral Phone #</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client Postal Code</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Referral Email</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Date of Injury/Disability</p>
        <input type="date" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Referral Fax</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Language(s) Spoken</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Relationship to Client</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Diagnosis/Medical Concerns</p>
        <input type="text" class="form-control input-box" placeholder="">
      </div>

      <div class="col-sm-3 margin-bottom-11 career-pd-left-0">
        <p>Client is aware of referral</p>
        <form>
        <div class="radio-inline">
          <label><input type="radio" name="optradio" checked>Yes</label>
        </div>
        <div class="radio-inline">
          <label><input type="radio" name="optradio">No</label>
        </div>
        </form>
      </div>

      <div class="col-sm-3 margin-bottom-11 career-pd-left-0">
        <p>Client is aware of referral</p>
        <form>
        <div class="radio-inline">
          <label><input type="radio" name="optradio" checked>Yes</label>
        </div>
        <div class="radio-inline">
          <label><input type="radio" name="optradio">No</label>
        </div>
        </form>
      </div>


      <div class="col-sm-3 margin-bottom-11 career-pd-left-0">
        <p>Sex of the Client</p>
        <form>
        <div class="radio-inline">
          <label><input type="radio" name="optradio" checked>Male</label>
        </div>
        <div class="radio-inline">
          <label><input type="radio" name="optradio">Female</label>
        </div>
        <div class="radio-inline">
          <label><input type="radio" name="optradio">Other</label>
        </div>
        </form>
      </div>

      <div class="col-sm-3 margin-bottom-11 career-pd-left-0">
        <p>How did you hear about us?</p>
        <!-- <input type="" class="form-control input-box" placeholder=""> -->
        <select class="form-control input-box">
          <option value="volvo">Advertising</option>
          <option value="saab">Brochure</option>
          <option value="opel">Health Care Provider</option>
          <option value="audi">Returning Customer</option>
          <option value="audi">Other</option>
          <option value="audi">Word of Mouth</option>
        </select>
      </div>

      <div class="form-group col-sm-12 career-pd-left-0 career-pd-right-0" >
        <textarea class="form-control" style="height: 339px; width: 100%;" id="exampleFormControlTextarea1" placeholder="Additional Comment"></textarea>
      </div>

      <div class="row">
        <div class="col-3">
          <button class="cta-see-team" style="width: 181px; margin-bottom: 20px;">Submit</button>
        </div>
      </div>

  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
