<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Enquiry from Re:Function.ca!</h1>

    <p>First Name: <%= @enquiry.first_name %></p>
    <p>Last Name: <%= @enquiry.last_name %></p>
    <p>Phone: <%= @enquiry.phone %></p>
    <p>Content: <%= @enquiry.content %></p>

  </body>
</html>
