<div class="col-sm-3 border-right tablet-dp-none mb-dp-none">
  <div class="row align-items-center">
    <ul class="our-team-dp-list">
      <li><span class="dp-list-header">Departments</span></li>
      <li><a href="/occupational_therapists">Occupational Therapists</a></li>
      <li><a href="/office_administration">Office & Administration</a></li>
      <li><a href="/physiotherapists">Physiotherapists</a></li>
      <li><a href="/psychology">Psychologists</a></li>
      <li><a href="/kinesiologist">Kinesiologists</a></li>
      <li><a href="/counsellors">Counsellors</a></li>
      <li><a href="/our_teams">All</a></li>
    </ul>
  </div>
</div>
