<div class="admin-nav">
  <a class="navbar-brand" href="#"><%= image_tag("refunction_nav_logo.svg", class:"admin-logo") %>
  </a>
  <%= link_to "Log Out", logout_path, class:"btn admin-log-out-btn", method: :delete %>
</div>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/admin_nav' %>

    <div class="admin-body col-sm-10">
      <div class="admin-card">
        <div class="container-fluid">
          <div class="row">
            <div class="search-top col-sm-12 pd-top-10">
              <p>Edit Team Member</p>
            </div>
          </div>
        </div>
        <%= render "form" %>
      </div>

    </div>
  </div>
</div>

<!-- Assume jQuery is loaded -->
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('#img_prev')
              .attr('src', e.target.result)
              .width(300)
              .height(250);
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
