//-----------------------------------------------font------------------------------------------------

//$font-size-base:1rem !default;
$main-font: "Lato", Roboto, "Helvetica Neue", Arial, sans-serif;


//-----------------------------------------------color------------------------------------------------

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #1BB2EB !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;
$admin-box: #F9F9F9 !default;
$banner-sub: #848995 !default;

// custom colors
$light-blue: #1BB2EB !default;
$dark-blue: #273748 !default;
$regular-blue: #77CAE9 !default;
$cta-blue: #77CAE9 !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #F7F7F7 !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$gray-font:                 #9e9797 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;


//-----------------------------------------------padding-margin reset------------------------------------------------
.reset {
  padding: 0px;
  margin: 0px;
}

//----------------------------------------------font size bold------------------------------------------------

.bold {
  font-weight: 600;
}

.bold-mx{
  font-weight: 600;
}

.font-gray{
  color: $gray;
}
.padding-0 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.padding-left-0 {
  padding-left: 0px;
}

.padding-bottom {
  padding-bottom: 100px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-top {
  padding-top: 100px;
}

.padding-top-50 {
  padding-top: 50px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}

.mg-bt-20 {
  margin-bottom: 20px;
}

.font-lb {
  color: $light-blue;
}
.main-card-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.main-card-padding-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}

.font-white {
  color: $white;
}

.font-size-sm {
  font-size: 0.85em;
}

.font-size-medium {
  font-size: 1em;
}

.font-size-xlg {
  font-size: 2em;
}

.font-size-lg {
  font-size: 1.5em;
}

.highlight-white-thin {
  width: 67px;
  border-top: 1px solid white;
  margin-bottom: 10px;
  height: 3px;
}

.highlight-thin {
  width: 45px;
  border-top: 2px solid #1BB2EB;
  margin-bottom: 10px;
  height: 18px;
}

.highlight-small {
  width: 60px;
  border-top: 1px solid #1BB2EB;
  margin-bottom: 10px;
  height: 18px;
}

.pages-card-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}


.page-desc {
  font-size: 3em;
}

.page-desc-sub {
  color: $gray-light;
  border-bottom: 2px solid $light-blue;
  margin-bottom: 0px;
}

.page-headers {
  font-size: 2em;
  font-weight: 500;
}

.section-desc {
  font-size: 1.1em;
  font-weight: 600;
}

.card-desc {
  font-size: 1.1em;
  font-weight: 600;
  color: $light-blue;
}

.font-gray {
  color: $gray-font;
}

.font-gray-on-white {
  color: #888889;
}

body {
  font-family: $main-font !important;
}

.card-text {
  font-size: 0.8em;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.border-right {
  border-right: 1px solid gray;
  height: 336px;
}

.mg-right-13 {
  margin-right: 13px;
}

.margin-bottom-30 {
  padding-bottom: 30px;
}

.padding-right-100 {
  padding-right: 100px !important;
}

.mg-top-20 {
  margin-top: 20px;
}

.blue-dot {
  display: inline-block;
  height: 5px;
  width: 4px;
  margin-right: 7px;
  margin-bottom: 2px;
  background-color: $light-blue;
}
a:hover {
  text-decoration: none !important;
}

a {
  font-weight: 550;
}

.card-side-padding {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
