// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
@import "variables";
@import "print";
@import "navbar";
@import "bootstrap";
@import "home";
@import "home_cta_card";
@import "home_our_services";
@import "footer";
@import "home_what_our_clients_say";
@import "home_numbers";
@import "home_our_team";
@import "home_faq";
@import "bottom_cta_card";
@import "services";
@import "about_us";
@import "testimonials";
@import "admin";
@import "careers";
@import "our_teams";
@import "font-awesome";
@import "admin_nav";
@import "mobile";
@import "choose_your_plan";
@import "referrals";
@import "coronas";
@import "bootstrap-datepicker3";
@import 'social';

p {
  font-size: 1em;
}

.col-2_4 {
  position: relative;

  @media screen and (min-width: 1199px) {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.container.extend-width {
  @media screen and (min-width: 1200px) {
    max-width: 1440px;
  }
}

@media screen and (min-width: 1200px) {
  .our-teams-card-img {
    max-height: 168px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
    .our-teams-card-img {
    max-height: 297px;
    overflow: hidden;
  }
}

@media print {
  #printPageButton {
    display: none;

  }

  body {
    display: inline !important;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
  }

  .main-container {
    height: auto;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    display: inline !important;
  }
}

.referral_print_button {
  margin-left: 35px;
  margin-top: 40px;
  padding: 11px 46px;
  border-radius: 9px;
  background-color: $blue;
  color: white;
}

.header-confirmation-code {
  float: right;
  display: inline;
  margin-top: 40px;
  margin-right: 35px;
}

@media screen and (max-width: 767px) {
  .main-notice {
    h4 {
      font-size: 1.0rem;
    }
  }
}