// Place all the styles related to the careers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current-listing-header {
  color: $light-blue;
  font-size: 1.1em;
  display: block;
}

.current-listing-header-sub {
  color: $gray;
  font-size: 0.8em;
  display: block;
}


.input-box {
  // height: 35px;
  border: 2px solid #D3D3D3;
  background: white;
}

.margin-bottom-11 {
  margin-bottom: 11px;
}

.career-pd-left-0 {
  padding-left: 0px;
}

.career-pd-right-0 {
  padding-right: 0px;
}
