.numbers {
  background: #2BB3E9;

  .title {
    font-size: 2em;
    color: white;
    font-weight: 800;
    margin-bottom: 1px;
  }
  .body {
    font-size: 1em;
    color: white;
    font-weight: 600;
  }
}
