.faqs {
  background: $gray;

  button {
    color: $light-blue;
  }
  .card-header {
    // border-top: 2px solid $light-blue;
    background: white;
    // border-bottom: 0px;
  }
  .card {
    border-radius: 0px;
  }
  .card-header {
    border-bottom: 0px;
  }
}


.faq-card-top {
  border-top: 3px solid $light-blue;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
