// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


.home_main_card {
  // background: image-url('home_bg.svg');
  // background: image-url('Main_Header.jpg');
  background: image-url('refunc-resized_v2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1400px;
  // background-size: 1800px;
  background-color: white;
  height: 845px;
}

.main-margin {
  margin-top: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.how_we_can_help {
  padding-top: 188px;
  padding-bottom: 50px;
  background-color: #F7F7F7;
}

//////////////////////////////////////////move to careers
.careers-image {
  overflow: hidden;
}

.careers-box {
  border: 2px solid $gray-lighter;
  // height: 176px;
  // overflow: hidden;
}

.careers-card-body {

}

.careers-posting-date {
  color: $gray-light;
  font-size: 0.4em;
}

.careers-posting-title {
  font-size: 0.8em;
  margin-bottom: 3px;
}

.careers-posting-highlight {
  height: 2px !important;
  margin-bottom: 2px;
  margin-top: 2px !important;
}

.careers-featured-opening {
  // border-bottom: 1px solid lightgray;
  // height: 267px;
}

.careers-featured-opening-empty {
  border-bottom: 1px solid lightgray;
  height: 10px;
}

.text-center {
  text-align: center;
}

.mg-top-50 {
  margin-top: 50px;
}

.mg-bottom-15 {
  margin-bottom: 15px;
}

.font-black {
  color: black;
}

.main-notice {
  background-color: $light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 26px;
  position: fixed;
  width: 100%;
  z-index: 999;
  h4 {
    font-weight: 400;

    &.underline {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.main-notice-sub {
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 66px;
  position: fixed;
  width: 100%;
  z-index: 999;
  
  h4 {
    font-weight: 400;
    font-size: 16px;
    &.underline {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  
}

@media only screen and (max-width: 990px) and (min-width: 168px)  {
  .main-notice-sub {
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 66px;
    position: fixed;
    width: 100%;
    z-index: 999;
    
    h4 {
      font-weight: 400;
      font-size: 10px;
      &.underline {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    
  }
}