.nav-top {
  background-color: $light-blue;
  min-width: 100%;
  height: 5px;
}

.logo-bg {
  background-color: $dark-blue;
}

.nav-bg {
  background-colro: white;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
  }
}

.nav-blue {
  background-color: white;
  border-top: 5px solid $light-blue;
}

.nav-logo {
  margin-left: 34px;
  margin-top: -12px;
  width: 232px;
}

.nav-cta-book-pysio {
  background: white;
  width: 123px;
}

.nav-cta-make-referral {
  background: $light-blue;
  width: 123px;
}

.parent {
  display: inline-block;
  background: black;
  height: 41px;
  margin-right: 10px;
}
.button1 {
  display: inline-block;
  position: relative;
  background: $light-blue;
  // width: 130px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  // padding: 1em 0;
  z-index: 1;
  color: white;
  height: 41px;
  padding-top: 8px;
}
.button2 {
  display: inline-block;
  position: relative;
  background: #263748;
  width: 130px;
  text-align: center;
  // padding: 1em 0;
  z-index: 1;
  // color: $light-blue;
  color: white;
  height: 41px;
  padding-top: 6px;
  border-top: 2px solid #263748;
  border-bottom: 2px solid #263748;
  border-right: 2px solid #263748;
  border-left: 2px solid #263748;
}

.button3 {
  display: inline-block;
  position: relative;
  background: #292B2C;
  width: 200px;
  text-align: center;
  // padding: 1em 0;
  z-index: 1;
  color: white;
  height: 41px;
  padding-top: 6px;
  border-top: 2px solid #292B2C;
  border-bottom: 2px solid #292B2C;
  border-right: 2px solid #292B2C;
  margin-right: 10px;
}

.circle {
  // display: inline-block;
  // position: relative;
  // background: black;
  // text-align: center;
  // width: 52px;
  // padding: 0.7em;
  // border-radius: 20px;
  // margin: 0 -20px;
  // z-index: 2;
  // color: white;
  display: inline-block;
  position: relative;
  background: black;
  text-align: center;
  border-radius: 27px;
  margin: 0px -16px;
  z-index: 2;
  color: white;
  background-color: black;
  width: 33px;
  height: 31px;
  padding-top: 3px;
}

.banner_top_deco {
  width: 100%;
  // height: 227px;
  background-image: image-url('nav-top-banner.png');
  background-repeat: no-repeat;
  background-size: 102%;
}

.banner-top-deco-inner-text {
  // padding-top: 131px;
  padding-top: 9%;
}

.banner-top-deco-header {
  color: white;
  font-size: 2em;
}

.banner-top-deco-sub {
  color: $banner-sub;
  font-size: 1em;
}

.nav-li-deco {
  padding-top: 10px;
  padding-bottom: 11px;
  transition: 0.3s;
}

.nav-li-deco:hover {
  background-color: $light-blue;
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  left: 0px;
  border-top: 6px solid $light-blue;
}

.mg-right-15 {
  margin-right: 15px;
}

.bread-crumb {
  padding-top: 17px;
  padding-bottom: 17px;
}

.bread-crumb-border {
  border-bottom: 1px solid #e6e6e7;
}
