// Place all the styles related to the our_teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.our-team-dp-list {
  list-style: none;
  text-align: right;
  margin-top: 99px;
  li:hover {
    color: $light-blue;
  }
}

.dp-list-header {
  font-size: 1.4em;
  font-weight: 600;
}


.btn-info {
  background-color: #1BB2EA;
}


@media screen and (min-width: 1200px) {
  .our-teams-card-img {
    max-height: 168px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
    .our-teams-card-img {
    max-height: 297px;
    overflow: hidden;
  }
}