<div class="admin-side-nav col-sm-2">
  <ul class="mg-top-30">
    <li><span></span>Teams<span></span></li>
      <ul>
        <li><a href="/admin_teams">Members</a></li>
        <li><a href="/admin_teams/new">Add New</a></li>
      </ul>
    <li>Testimonials</li>
      <ul>
        <li><a href="/admin_testimonials">Testimonials</a></li>
        <li><a href="/admin_testimonials/new">Add New</a></li>
      </ul>
    <li>Careers</li>
      <ul>
        <li><a href="/admin_careers">Published</a></li>
        <li><a href="/admin_careers/new">Add New</a></li>
      </ul>
    <li>Customer Enquiry</li>
      <ul>
        <li><a href="/admin_enquries">Published</a></li>
        <li>Archived</li>
      </ul>
    <li>Referrals</li>
      <ul>
        <li>Published</li>
        <li>Archived</li>
      </ul>
    <li>Admin Users</li>
      <ul>
        <li>Published</li>
        <li>Archived</li>
      </ul>
  </ul>
</div>
