<div class="bottom_cta_card">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-text-center">
        <p class="tag-line-top-bottom-cta">Exceptional People.</p>
        <p class="tag-line-bottom-bottom-cta">Exceptional Service.</p>
        <p class="tag-line-bottom-sub-bottom-cta">Function is our Focus</p>
      </div>
      <div class="col-sm-6 mb-text-center">
        <div class="row justify-content-center">
          <p class="font-white bold">Let us help you today!</p>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 14px;">
          <div class="parent-bottom-cta">
            <div class="button1-bottom-cta">
              <div class="row justify-content-center" style="margin-left: -20px;">
                <a href="https://refunction.janeapp.com/" target="_blank">Book Physio/Counselling</a>
              </div>

            </div>
            <div class="circle-bottom-cta mb-dp-none">
              OR
            </div>
            <div class="button2-bottom-cta">
              <a href="/referrals" style="color:white;"> Make a Service Referral</a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <p class="font-white bold" style="margin-bottom: 2px;">(604) 233-2210</p>
        </div>
        <div class="row justify-content-center">
          <p class="font-white bold">Email: info@refunction.ca</p>
        </div>
      </div>
    </div>
  </div>
</div>
