<div class='main-notice'>
  <h5 class='m-0 text-white'>Re:Function COVID-19 Update</h5>
  <%= link_to covid_19_path do %>
    <h5 class='my-0 ml-2 text-white underline'>Learn More</h5>
  <% end %>
</div>