<!-- <div class='main-notice'>
  <h4 class='m-0 text-white'>Re:Function COVID-19 Update</h4>
  <a href="https://refunction.s3-us-west-2.amazonaws.com/uploads/covid19_notice_2020May28.pdf" target="_blank"><h4 class='my-0 ml-2 text-white underline'>Learn More</h4></a>
</div> -->
<!-- 
<div class='main-notice-sub'>
  <h4 class='m-0 text-white'>Now offering Medical Legal and Occupational Therapy services in Kelowna, BC.</h4>
  <a href="https://refunction.ca/referrals" target="_blank"><h4 class='my-0 ml-2 text-white underline'>Please click here to make a referral.</h4></a>
</div> -->

