<div class='main-notice'>
  <h4 class='m-0 text-white'>Re:Function COVID-19 Update</h4>
  <a href="https://refunction-website.s3.amazonaws.com/covid19_notice_2020Mar13.pdf" target="_blank"><h4 class='my-0 ml-2 text-white underline'>Learn More</h4></a>
</div>