
<nav class="navbar navbar-expand-lg navbar-light nav-blue sticky" style=" z-index: 3; width: 100%; padding-top: 0px; padding-bottom: 0px; margin-top: 35px;">
  <a class="navbar-brand mb-dp-none" href="/" style="position:fixed; z-index: 3"><%= image_tag("refunction_nav_logo.svg", class:"nav-logo", id:"Logo") %></a>
  <!-- <a class="navbar-brand" href="#"><%= image_tag("refunction_nav_logo.svg",width: "150") %></a> -->
  <!-- <button class="navbar-toggler mb-dp-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <nav class="mb-dp full-dp-none" style="position: fixed; z-index:3; top: 12px; background: white; width: 100%;
    margin-top: -6px;">
    <a href="/"><%= image_tag("refunction_nav_logo.svg", class:"nav-logo mb-logo", id:"Logo", style:"left: 0px; position: fixed; margin-left: -7px; margin-top: -11px;") %></a>
    <div class="mb-nav">
      <button id="nav-toggle-on" style="position:fixed; z-index: 3; right: 1px; top: 6px; font-size: 36px; background: transparent; border: none; display: none; color:white;">
        &#x2715;
      </button>

      <button id="nav-toggle-off" style="position:fixed; z-index: 4; right: 1px; top: 6px; font-size: 36px; background: transparent; border: none; color:white;">
        &#9776;
      </button>

      <div class="container" id="mb-nav-desc" style="position: fixed; top: 65px; left: 0px; padding-left: 0px; padding-right: 0px; display: none; max-width: 100%;">
        <div class="row">
          <div style="width: 50%; background: black; text-align: center; color: white; padding-top: 10px; padding-bottom: 10px;">
              <a href="/about_us">About</a>
          </div>
          <div style="width: 50%; background: black; text-align: center; color: white; padding-top: 10px; padding-bottom: 10px;">
              <a href="/services">Services</a>
          </div>
          <div style="width: 50%; background: black; text-align: center; color: white; padding-top: 10px; padding-bottom: 10px;">
              <a href="/our_teams">Our Team</a>
          </div>
          <div style="width: 50%; background: black; text-align: center; color: white; padding-top: 10px; padding-bottom: 10px;">
              <a href="/testimonials">Testimonials</a>
          </div>
          <div style="width: 50%; background: black; text-align: center; color: white; padding-top: 10px; padding-bottom: 10px;">
              <a href="/careers">Careers</a>
          </div>
          <div style="width: 50%; background: black; text-align: center; color: white; padding-top: 10px; padding-bottom: 10px;">
              <a href="/contacts">Contact</a>
          </div>
        </div>
      </div>

      <div class="container" id="mb-nav-cta" style="position: fixed; top: 65px;background: white;left: 0;padding-left: 0px;padding-right: 0px; max-width: 100%;">
        <div class="row">

          <div style="width: 50%; text-align: center; background: #1BB2EB; border: 2px solid #1BB2EB; color: white; padding-top: 10px; padding-bottom: 10px;">
            <a href="https://refunction.janeapp.com/" target="_blank" style="color: white; font-size:0.8em;">Book Physio/Counselling</a>
          </div>
          <div style="width: 50%; text-align: center; background: white; border: 2px solid #1BB2EB; color:#1BB2EB; padding-top: 10px; padding-bottom: 10px; ">
            <a href="/referrals" style="color: white; font-size:0.8em; color: #1BB2EB;">Make a Service Referral</a>

          </div>
        </div>
      </div>
    </div>
  </nav>



  <div class="collapse navbar-collapse d-flex justify-content-end sticky mb-dp-none" id="navbarSupportedContent">
    <ul class="navbar-nav mg-right-15 mb-dp-none">
      <li class="nav-item nav-li-deco">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-li-deco">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <!-- <li class="nav-item dropdown nav-li-deco">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item nav-li-deco">
        <a class="nav-link" href="/about_us">About</a>
      </li>
      <li class="nav-item nav-li-deco">
        <a class="nav-link" href="/our_teams">Our Team</a>
      </li>
      <li class="nav-item nav-li-deco">
        <a class="nav-link" href="/testimonials">Testimonials</a>
      </li>
      <li class="nav-item nav-li-deco">
        <a class="nav-link" href="/careers">Careers</a>
      </li>
      <li class="nav-item nav-li-deco">
        <a class="nav-link" href="/contacts">Contact</a>
      </li>
      <li class="nav-item nav-li-deco">
        <a class="nav-link" href="/faq">FAQs</a>
      </li>
      <!-- <li class="nav-item nav-cta-book-pysio">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item nav-cta-book-pysio">
        <a class="nav-link" href="#">Make Referral</a>
      </li> -->
    </ul>
    <!-- <div class="parent mb-dp-none">
      <div class="button1 align-items-center">
        <span class="bold">Book Physio</span>
      </div>
      <div class="circle">
        <span>or</span>
      </div>
      <div class="button2 align-items-center">
        <span class="bold">Make Referral</span>
      </div>
    </div> -->

    <div>
      <a href="https://refunction.janeapp.com/" target="_blank">
        <div class="button1 align-items-center">
          <span class="bold">Book Physio/Counselling</span>
        </div>
      </a>
      <!-- <a href="https://refunction.janeapp.com/" target="_blank">
        <div class="button2 align-items-center">
          <span class="bold">Counselling</span>
        </div>
      </a> -->
      <a href="/referrals">
        <div class="button3 align-items-center">
          <span class="bold">Make a Service Referral</span>
        </div>
      </a>
    </div>

  </div>
</nav>
<%= render 'layouts/main_notice' %>




<script>
window.onscroll = function() {
  growShrinkLogo()
};

$("#nav-toggle-on").click(function() {
  $("#mb-nav-desc").css("display", "none");
  $("#mb-nav-cta").css("top", "65px");
  $("#nav-toggle-on").css("display", "none");
  $("#nav-toggle-off").css("display", "block");
});

$("#nav-toggle-off").click(function() {
  $("#mb-nav-desc").css("display", "block");
  $("#mb-nav-cta").css("top", "196px");
  $("#nav-toggle-off").css("display", "none");
  $("#nav-toggle-on").css("display", "block");
  $(".main-notice").css("display", "none");
  
});

function growShrinkLogo() {
  var Logo = document.getElementById("Logo")
  if (document.body.scrollTop > 5 || document.documentElement.scrollTop > 5) {
    Logo.style.width = '162px';
  } else {
    Logo.style.width = '232px';
  }
}
</script>
