<a class="navbar-brand" href="#" style="position:absolute; z-index: 3"><%= image_tag("refunction_nav_logo.svg", class:"nav-logo") %></a>
<nav class="navbar navbar-expand-lg navbar-light nav-blue" style="position:absolute; z-index: 2; width: 100%;">
  <!-- <a class="navbar-brand" href="#"><%= image_tag("refunction_nav_logo.svg",width: "150") %></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Testimonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <!-- <li class="nav-item nav-cta-book-pysio">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item nav-cta-book-pysio">
        <a class="nav-link" href="#">Make Referral</a>
      </li> -->
    </ul>
    <div class="parent">
      <div class="button1 align-items-center">

      </div>
      <div class="circle">

      </div>
      <div class="button2 align-items-center">

      </div>
    </div>

  </div>
</nav>
