<div class="social-link-container">
  <a href="https://www.facebook.com/refunctionhealthgroup" target='_blank' id="facebook" class="social-link">
    <i class="fab fa-facebook-f"></i>
  </a>

  <a href="https://www.instagram.com/refunctionhealthgroup" target='_blank' id="instagram" class="social-link">
    <i class="fab fa-instagram"></i>
  </a>
</div>